.modal-wrapper-create {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(72, 72, 72, 0.8);
}
.modal-form-create {
    box-sizing: border-box;
    width: 500px;
    background-color: #c6bc97;
    border-radius: 35px;
    border: #ffc100 solid 2px;
    padding: 38px;
}
.modal-form-create h2{
    text-align: center;
    margin-bottom: 25px;
}

.modal-btn-wrapper-create {
    width: 170px;
    margin: 35px auto 0;
    display: flex;
    justify-content: space-between;
}

.modal-inp-wrapper-create {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.fz-20 {
    font-size: 20px;
}

.modal-inp-create {
    width: 270px;
    font-size: 18px;
    margin-left: 20px;
}