.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


body {
    background: tomato;
    padding: 15px;
}

.calc {
    width: 200px;
    min-height: 200px;
    margin: 5px auto;
    border: 1px solid black;

}

.out {
    background: chartreuse;
    max-width: 75%;
    margin: 20px auto;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.btn {
    padding: 6px;
    width: 45px;
}

.buttons {
    width: 100px;
    margin: 45px auto;
}

.clear, .insertion {
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 3px;
}

#inp {
    width: 84px;
    margin: 5px 0;
    background: white;
    border: 2px solid black;
}
