.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  padding: 25px;
}
* {
  box-sizing: border-box;
  background: cadetblue;
}

.container {
  width: 1450px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrapper {
  margin: 10px;
  border: 2px solid tomato;
  padding: 8px;
  border-radius: 5px;
  background: bisque;
}
.btn {
  width: 100%;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px 0;
  background: tomato;
  color: white;
}
.btn:hover {
  background: #ac3722;
}
.card, b {
  text-align: center;
  width: 250px;
  background: bisque;
}
