* {
    box-sizing: border-box;
}
.wraper {
    border: 2px solid black;
    min-height: 500px;
    width: 350px;
    margin: 50px auto;
    text-align: center;
    border-radius: 25px;
    background: #61dafb;
    padding: 15px;
}

.title {
    text-transform: uppercase;
    font-weight: bold;


}
.output {
    display: block;
    border: 1px solid black;
    height: 50px;
    width: 95%;
    margin: 30px auto;
    padding: 7px;
    background: tomato;
    color: black;
    font-weight: bold;
    font-size: 24px;

}

/* BTN*/
.btnWrap {
    justify-content: space-around;
    align-items:center;
    min-width: 200px;
    margin: 0 auto;
}

.btnComputing {
    height: 85px;
    width: 135px;
    margin: 5px;
    font-size: 20px;
}
.submit {
    width: 145px;
    margin-right: 10px;
    height: 25px;
}

.m {
    margin-top: 15px;
    display: block;
}
.reset {
    margin-top: 15px;
    width: 60%;
    height: 40px;
    background: burlywood;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;

}
.reset:hover {
    background:  tomato;
    cursor: pointer;
}